* {
    -fx-font-family: 'Roboto';
    -fx-alignment: center;
    -fx-text-fill: #fff;
}

.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#container {
    -fx-background: #35B55C;
    -fx-padding: 0 75px 75px 75px;
    -fx-spacing: 20px;
}


.title {
    -fx-font-size: 40px;
}

#time {
    -fx-content-display: center;
    -fx-pref-width: 350px;
    -fx-background-color: #202428;
    -fx-font-size: 72px;
    -fx-line-height: 80px;
    -fx-border-radius: 8px;
    -fx-letter-spacing: 10px;
}

.buttons {
    -fx-spacing: 10px;
}

.button {
  -fx-border-radius: 6px;
  -fx-border-width: 2px;
  -fx-border-style: solid;
  -fx-border-color: #fff;
  -fx-background-color: none;
  -fx-text-fill: #fff;
  -fx-fill-width: true;
  -fx-cursor: hand;
  -fx-padding: 10px 10px 10px 37px;
  -fx-font-size: 20px;
  -fx-pref-width: 150px;
}

.button:armed {
  -fx-border-color: #f9bd55;
}

.nested-action {
    -fx-padding: 0px;
}

.svg-container {
    -fx-padding: 0 0 0 17px;
    -fx-alignment: center-left;
}


.restart .button {
    -fx-padding: 10px 10px 10px 43px;
}

.svg {
    -fx-fill: #fff;
}

.text-area {
    -fx-pref-width: 300px;
    -fx-pref-row-count: 3;
    -fx-border-radius: 6px;
    -fx-border-width: 2px;
    -fx-border-color: #fff;
    -fx-border-style: solid;
    -fx-font-size: 20px;
    -fx-text-fill: #000;
}

.attempt-title {
    -fx-font-size: 32px;
}

/* Spinner general styling */

.spinner-wrapper {
    -fx-font-size: 16px;
    -fx-spacing: 15px;
}

/* Spinner styling - using spinner tag */

.spinner {
    -fx-pref-width: 80px;
}

.spinner .text-field {
    -fx-border-color: #202428;
    -fx-background-color: #202428;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border,  -fx-body-color;
    -fx-background-radius: 1.5px;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.spinner-separator{
    -fx-background-color: #202428;
    -fx-padding: 7px 2px;
}


/* Spinner styling - Using Two Buttons */

.spinner-button {
    -fx-border-radius: 6px;
    -fx-border-width: 1.5px;
    -fx-padding: 7px;
    -fx-font-size: 5px;
    -fx-pref-width: 30px;
}

.spinner-field {
    -fx-background-color: #202428;
    -fx-padding: 7px 21px;
}

/* State based selectors */

.pause .svg-container {
    -fx-spacing: 5px;
}

.pause {
    visibility: hidden;
}

.playing .pause {
    visibility: visible;
}

.playing .play {
    visibility: hidden;
}

.prep {
    -fx-background-color: #ff5527;
}

.workout {
    -fx-background-color: #3f3849;
}

.break {
    -fx-background-color: #3F8ABF;
}